/* VARIABLES SASS */
/* GENERALITES */
/* line 20, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
body {
  background-color: #FFF !important;
  font-family: "Open Sans", Verdana, sans-serif;
  position: relative !important;
  max-width: 1500px; }

/* line 27, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
h1 {
  color: #a2bbb9;
  font-family: 'Space Mono', 'Comfortaa', 'Open Sans', Verdana, sans-serif; }

/* line 32, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
h2 {
  color: #2D3E4E;
  font-family: 'Comfortaa', 'Open Sans', Verdana, sans-serif;
  font-size: 2.5em !important; }

/* line 38, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
h3 {
  color: #32724e;
  font-family: 'Comfortaa', 'Open Sans', Verdana, sans-serif; }

/* line 43, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
h4 {
  color: #32724e;
  font-family: 'Comfortaa', 'Open Sans', Verdana, sans-serif; }

/* line 48, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.btn {
  background-color: #32724e !important;
  border-radius: 30px;
  padding: 10px !important;
  font-size: 1em !important;
  width: 250px !important; }
  /* line 54, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .btn:hover {
    box-shadow: 2px 2px 2px 2px #a9a6a5; }
  /* line 57, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .btn__link {
    color: #FFF !important;
    width: 100%;
    height: 100%; }
    /* line 61, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .btn__link:hover {
      text-decoration: none !important;
      color: #000 !important;
      font-weight: bold; }

/* MENU */
/* line 71, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.menu {
  background-color: #FFF !important;
  text-transform: uppercase;
  position: fixed;
  z-index: 2;
  margin: auto !important;
  max-width: 1500px; }
  /* line 78, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu h1 {
    font-family: 'Space Mono', 'Comfortaa', 'Open Sans', Verdana, sans-serif;
    text-transform: lowercase;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    color: #000;
    font-size: 3em;
    text-align: center;
    position: relative; }
    /* line 88, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu h1::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 50%;
      height: 6px;
      background-color: #32724e; }
  /* line 98, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu span {
    color: #32724e; }
  /* line 101, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu__menu {
    max-width: 80%;
    margin-left: 10% !important; }
  /* line 105, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu__icon {
    color: #a2bbb9 !important;
    background-color: #FFF !important; }
  /* line 109, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu__item {
    margin-left: 10px; }
  /* line 112, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu__link {
    color: #2D3E4E !important;
    position: relative; }
    /* line 115, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__link::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) scaleX(0);
      transform-origin: 50% 50%;
      width: 100%;
      height: 2px;
      background-color: #32724e !important;
      transition: transform 250ms; }
    /* line 127, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__link:hover {
      color: #32724e !important; }
      /* line 129, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .menu__link:hover::after {
        transform: translateX(-50%) scaleX(1); }

/* DIAPORAMA */
/* line 138, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.home {
  background: #FFF !important;
  padding-bottom: 0; }
  /* line 141, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .home__slide {
    margin: auto; }
  /* line 144, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .home__photo {
    max-width: 100%;
    height: auto;
    object-fit: fill; }
  /* line 149, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .home__credit {
    color: #2D3E4E;
    text-align: right;
    font-style: italic;
    margin-top: 10px;
    font-size: 0.8em; }

/* A PROPOS */
/* line 160, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.description {
  background: #FFF;
  margin: auto;
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 50px;
  width: 80%; }
  /* line 167, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .description__title {
    padding-bottom: 20px;
    margin-bottom: 70px;
    text-align: center;
    position: relative; }
    /* line 172, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .description__title::after {
      content: '';
      position: absolute;
      right: 50%;
      bottom: 0;
      width: 50%;
      height: 6px;
      background-color: #32724e; }
  /* line 182, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .description__text {
    margin-top: 40px !important;
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    color: #000;
    font-size: 1.1em; }

/* MISE A DISPOSITION */
/* line 194, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
#equipements {
  padding: 0; }

/* line 198, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.equipements {
  background: url("../images/34phot6.jpg") fixed no-repeat;
  padding: 140px; }
  /* line 201, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements__box {
    background: rgba(194, 192, 191, 0.85);
    padding: 90px;
    max-width: 1200px; }
  /* line 206, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements__title {
    color: #FFF;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
    position: relative; }
    /* line 212, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__title::after {
      content: '';
      position: absolute;
      right: 50%;
      bottom: 0;
      width: 50%;
      height: 6px;
      background-color: #32724e; }
  /* line 222, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements__text {
    padding: 30px;
    font-size: 1.1em;
    text-align: justify; }
  /* line 227, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements__list {
    padding: 10px; }
    /* line 229, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__list li {
      list-style-type: none; }
  /* line 233, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements__subtitle {
    font-size: 1.2em;
    color: #FFF; }
  /* line 237, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 0.9em; }
    /* line 243, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__item i {
      margin-top: 5px;
      margin-right: 20px; }

/*EVENTS*/
/* line 252, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.events {
  padding: 60px;
  background: none;
  margin-bottom: 40px; }
  /* line 257, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .events__title {
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
    position: relative; }
    /* line 262, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .events__title::after {
      content: '';
      position: absolute;
      right: 50%;
      bottom: 0;
      width: 50%;
      height: 6px;
      background-color: #32724e; }
  /* line 273, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .events__item {
    padding: 10px; }
  /* line 276, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .events__text {
    padding: 50px 200px 0 200px;
    font-weight: bold;
    text-align: center;
    position: relative; }
    /* line 281, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .events__text::before {
      content: '';
      position: absolute;
      right: 43%;
      bottom: 100%;
      width: 14%;
      height: 2px;
      background-color: #908d8b; }

/* line 293, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.event {
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none !important; }
  /* line 298, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .event__img {
    border-radius: 3px 3px 0 0;
    width: 100%; }
  /* line 302, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .event__title {
    font-size: 1.2em;
    text-align: center; }
  /* line 306, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .event__text {
    font-size: 0.8em; }

/* INSPIRATION */
/* line 313, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.edito {
  box-shadow: 2px 4px 8px 3px #777371;
  background-color: #9d9998;
  color: #32724e;
  padding: 40px 100px;
  margin-bottom: 40px; }
  /* line 319, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__box {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  /* line 324, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__title {
    color: #FFF;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative; }
    /* line 330, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__title::after {
      content: '';
      position: absolute;
      right: 50%;
      bottom: 0;
      width: 45%;
      height: 6px;
      background-color: #32724e; }
  /* line 340, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__text1, .edito__text2 {
    text-align: justify;
    font-style: italic;
    color: #FFF;
    font-size: 0.9em; }
  /* line 346, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__text1 {
    padding: 40px 0px 40px 0px; }
  /* line 349, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__text2 {
    padding: 40px 0px 40px 0px; }
  /* line 352, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__photo {
    align-self: center; }
  /* line 355, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__photobox {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /* line 360, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__img {
    padding: 5px; }
  /* line 363, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__figcaption {
    font-size: 0.7em;
    font-style: italic;
    color: #000;
    text-align: center;
    max-width: 60%; }

/*INFOS PRATIQUES*/
/* line 374, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.info {
  margin-bottom: 0;
  margin-top: 0;
  background: #FFF; }
  /* line 378, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__box {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  /* line 384, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__title {
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
    position: relative; }
    /* line 389, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .info__title::after {
      content: '';
      position: absolute;
      right: 50%;
      bottom: 0;
      width: 40%;
      height: 6px;
      background-color: #32724e; }
  /* line 399, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info iframe {
    outline: 1px solid #32724e;
    padding: 0; }
  /* line 403, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__details {
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  /* line 409, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__list {
    padding: 10px; }
    /* line 411, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .info__list li {
      list-style-type: none;
      font-size: 0.8em; }
  /* line 416, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__item {
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 0.9em; }
    /* line 423, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .info__item i {
      margin-top: 5px;
      margin-right: 20px; }
  /* line 428, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__plan {
    display: block !important;
    margin-top: 100px !important;
    position: relative; }
    /* line 432, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .info__plan::before {
      content: '';
      position: absolute;
      right: 25%;
      bottom: 300%;
      width: 50%;
      height: 2px;
      background-color: #908d8b; }

/* line 444, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.map {
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 448, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .map__infos {
    border: 1px solid #32724e;
    background: #FFF;
    margin-top: 40px;
    padding: 20px; }
    /* line 453, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .map__infos li {
      list-style-type: none;
      margin-left: 0; }
  /* line 458, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .map__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 0.8em;
    line-height: 25px; }
    /* line 465, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .map__item i {
      margin-top: 2px;
      font-size: 2em;
      margin-right: 25px; }
  /* line 471, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .map__metro, .map__bus {
    margin-right: 20px; }
  /* line 474, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .map__busline {
    margin-left: 0px !important;
    margin-right: 2px !important; }
  /* line 478, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .map__busline, .map__metroline {
    margin-top: -5px; }

/*CONTACT*/
/* line 485, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.contact {
  background: url("../images/34phot1.jpg") fixed no-repeat;
  margin-bottom: 0;
  padding: 170px; }
  /* line 489, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .contact__box {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    max-width: 1200px; }
  /* line 494, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .contact__title {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative; }
    /* line 500, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__title::after {
      content: '';
      position: absolute;
      right: 50%;
      bottom: 0;
      width: 50%;
      height: 6px;
      background-color: #32724e; }
  /* line 510, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .contact__request {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-align: center; }
    /* line 519, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__request p {
      font-size: 1.2em; }
    /* line 522, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__request button {
      margin-top: 20px; }
    /* line 525, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__request i {
      font-size: 1.5em;
      margin-right: 10px;
      vertical-align: bottom; }

/* line 534, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.news {
  position: fixed !important;
  top: 20% !important;
  left: 20% !important;
  max-width: 60%;
  z-index: 20 !important;
  animation: newsletter 1000ms 29000ms both ease-in-out;
  display: block; }
  /* line 542, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news__header {
    flex-direction: column !important;
    padding: 30px;
    padding-bottom: 15px; }
    /* line 546, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__header h5 {
      font-size: 1em;
      color: #2D3E4E !important;
      font-weight: bold;
      margin: auto !important;
      margin-bottom: 30px !important;
      margin-top: 10px !important; }
    /* line 554, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__header p {
      font-size: 0.9em;
      color: #2D3E4E !important;
      font-style: italic; }
  /* line 560, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news__box {
    background: #FFF;
    border: 2px solid #2D3E4E !important;
    box-sizing: border-box !important;
    border-radius: 15px; }
  /* line 566, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news__title {
    color: #53716f;
    text-align: center; }
  /* line 570, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news__btn {
    display: block !important;
    margin: auto !important;
    margin-bottom: 0px !important;
    color: #FFF !important; }
    /* line 575, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__btn:hover {
      color: #000 !important;
      font-weight: bold; }
  /* line 581, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news__footer button {
    color: #2D3E4E !important;
    font-size: 1em !important; }
    /* line 584, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__footer button:hover {
      text-decoration: none !important;
      color: #000 !important;
      font-weight: bold; }

@keyframes newsletter {
  0% {
    opacity: 0;
    transform: translateY(-1000px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*FOOTER*/
/* line 609, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
.footer {
  background-color: #a9a6a5 !important;
  color: #FFF !important;
  padding-top: 20px; }
  /* line 613, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer__box {
    justify-content: space-around !important; }
  /* line 616, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer__item {
    margin-bottom: 20px; }
  /* line 619, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer__sociallist {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; }
  /* line 624, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer__social a {
    font-size: 2em !important;
    color: #32724e !important; }
    /* line 627, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__social a:hover {
      color: #FFF !important; }
  /* line 631, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer__title {
    font-size: 1em; }
  /* line 634, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer__follow {
    font-size: 1em;
    color: #FFF; }
  /* line 638, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer__logo {
    font-family: 'Space Mono', 'Comfortaa', 'Open Sans', Verdana, sans-serif;
    font-size: 3em;
    color: #000; }
    /* line 642, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__logo span {
      color: #32724e; }
  /* line 646, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer__copyright {
    margin-top: 20px;
    color: #000;
    font-style: italic;
    width: 100%;
    border-top: 2px solid #000;
    font-size: 0.8em; }
    /* line 653, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__copyright span {
      font-family: 'Space Mono', 'Open Sans', Verdana, sans-serif; }

/* MEDIA QUERIES---------------------------------------------------------------------*/
/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 667, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  h2 {
    font-size: 2.3em !important; }
  /* line 670, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  h3 {
    font-size: 1.3em !important; }
  /* line 674, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu {
    max-height: 250px !important; }
    /* line 676, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu h1 {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 3.1em; }
    /* line 681, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__icon {
      position: fixed;
      left: 30px;
      top: 30px; }
    /* line 686, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__menu {
      margin: auto !important; }
    /* line 689, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__item {
      background-color: #FFF; }
    /* line 692, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__link::after {
      width: 30%; }
  /* line 696, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .home {
    padding-top: 195px; }
  /* line 700, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .description {
    width: 100%; }
    /* line 702, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .description__title::after {
      width: 60%; }
    /* line 705, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .description__text {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 80%;
      margin: auto; }
  /* line 713, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements {
    padding: 100px; }
    /* line 715, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__box {
      padding: 50px; }
    /* line 718, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__title::after {
      width: 60%; }
    /* line 721, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__text {
      padding: 25px;
      font-size: 1em; }
  /* line 727, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .events {
    padding: 40px; }
    /* line 729, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .events__title::after {
      width: 60%; }
    /* line 732, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .events__text {
      padding: 40px 50px 0 40px;
      max-width: 80%;
      margin: auto; }
  /* line 739, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito {
    padding: 60px 80px;
    margin-bottom: 0px; }
    /* line 742, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__box {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    /* line 747, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__title::after {
      width: 50%;
      margin-top: 30px; }
    /* line 751, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__text1, .edito__text2 {
      margin-top: 20px;
      font-size: 0.9em;
      padding: 0; }
    /* line 756, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__photo {
      width: 50%; }
  /* line 762, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__box {
    padding-top: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  /* line 768, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__title {
    padding-bottom: 20px;
    margin-bottom: 40px; }
    /* line 771, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .info__title::after {
      width: 40%; }
  /* line 775, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__details {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  /* line 781, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__list {
    padding: 10px;
    margin: auto; }
  /* line 785, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__plan {
    margin: auto;
    margin-top: 50px !important;
    margin-bottom: 50px; }
    /* line 789, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .info__plan::before {
      bottom: 150%; }
  /* line 794, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .contact {
    padding: 100px; }
    /* line 796, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__title::after {
      width: 55%; }
    /* line 799, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__request {
      width: 100%;
      padding: 10px; }
      /* line 802, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .contact__request p {
        font-size: 1em; }
  /* line 807, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news {
    top: 20% !important;
    max-width: 80%;
    left: 10% !important; }
    /* line 811, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__title {
      font-size: 0.9em; }
    /* line 814, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__header {
      padding-bottom: 0 !important; }
      /* line 816, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .news__header h5 {
        font-size: 0.9em;
        margin-bottom: 10px !important; }
      /* line 820, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .news__header p {
        font-size: 0.8em; }
    /* line 824, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__footer {
      font-size: 0.9em;
      padding: 6px !important; }
    /* line 828, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__btn {
      margin-bottom: 0 !important; } }

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE (orientation paysage)------------------------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 837, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu {
    position: static; }
    /* line 839, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__icon {
      position: static; }
  /* line 843, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .home {
    padding-top: 25px !important; }
  /* line 846, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news {
    top: 5% !important; } }

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE------------------------------------------------*/
@media (min-width: 320px) and (max-width: 480px) {
  /* line 855, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  h1 {
    font-size: 2.2em !important; }
  /* line 858, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  h2 {
    font-size: 2em !important; }
  /* line 861, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  h3 {
    font-size: 1.1em !important; }
  /* line 865, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu {
    max-height: 230px !important; }
    /* line 867, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu h1 {
      margin-top: 40px;
      margin-bottom: 30px;
      text-align: end; }
    /* line 872, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__icon {
      position: fixed;
      left: 30px;
      top: 45px;
      z-index: 10000 !important; }
    /* line 878, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__menu {
      margin: auto !important; }
    /* line 881, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__item {
      background-color: #FFF;
      font-size: 0.9em; }
    /* line 885, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .menu__link::after {
      width: 30%; }
  /* line 890, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .home {
    padding-top: 165px; }
    /* line 892, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .home__photo {
      max-width: 110%; }
    /* line 895, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .home__credit {
      font-size: 0.7em; }
  /* line 900, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .description {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 30px; }
    /* line 904, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .description__box {
      padding: 0; }
    /* line 907, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .description__title {
      margin-bottom: 20px; }
      /* line 909, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .description__title::after {
        width: 70%; }
    /* line 913, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .description__text {
      padding-left: 0px;
      padding-right: 0px;
      max-width: 100%;
      margin: auto;
      font-size: 0.9em; }
  /* line 922, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements {
    padding: 40px; }
    /* line 924, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__box {
      padding: 20px; }
    /* line 927, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__title::after {
      width: 90%; }
    /* line 930, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__text {
      padding: 15px;
      font-size: 0.9em; }
    /* line 934, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__item {
      font-size: 0.8em; }
  /* line 939, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .events {
    padding: 20px;
    margin-bottom: 20px; }
    /* line 942, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .events__title::after {
      width: 90%; }
    /* line 945, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .events__text {
      padding: 20px 0px 0px 0px;
      max-width: 80%;
      margin: auto;
      font-size: 0.9em; }
  /* line 953, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito {
    padding: 30px 30px; }
    /* line 955, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__box {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    /* line 960, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__title::after {
      width: 90%;
      margin-top: 30px; }
    /* line 964, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__text1, .edito__text2 {
      margin-top: 20px;
      font-size: 0.8em;
      padding: 0; }
    /* line 969, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__photo {
      width: 80%; }
    /* line 973, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__figcaption {
      max-width: 100%; }
  /* line 979, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__box {
    padding-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  /* line 985, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__title {
    padding-bottom: 20px;
    margin-bottom: 30px; }
    /* line 988, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .info__title::after {
      width: 90%; }
  /* line 992, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__details {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  /* line 998, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__list {
    padding: 10px;
    margin: auto; }
  /* line 1002, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__plan {
    margin: auto;
    margin-top: 50px !important;
    margin-bottom: 50px; }
    /* line 1006, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .info__plan::before {
      bottom: 150%; }
  /* line 1010, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info iframe {
    width: 110%; }
  /* line 1014, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .contact {
    padding: 40px; }
    /* line 1016, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__title::after {
      width: 90%; }
    /* line 1019, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__request {
      width: 100%;
      padding: 0px; }
      /* line 1022, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .contact__request p {
        font-size: 0.9em; }
    /* line 1026, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__btn {
      width: 80% !important; }
  /* line 1030, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news {
    top: 20% !important;
    max-width: 90%;
    left: 5% !important; }
    /* line 1034, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__title {
      font-size: 0.8em; }
    /* line 1037, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__header {
      padding-bottom: 0 !important; }
      /* line 1039, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .news__header h5 {
        font-size: 0.9em;
        margin-bottom: 10px !important; }
      /* line 1043, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .news__header p {
        font-size: 0.7em; }
    /* line 1047, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__footer {
      font-size: 0.8em;
      padding: 6px !important; }
    /* line 1051, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__btn {
      margin-bottom: 0 !important; }
  /* line 1055, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .footer {
    padding-top: 20px; }
    /* line 1057, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__item {
      margin-bottom: 20px; }
    /* line 1060, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__sociallist {
      display: flex;
      justify-content: space-around;
      margin-top: 20px; }
    /* line 1065, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__social a {
      font-size: 2em !important; }
    /* line 1068, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__title {
      font-size: 1em; }
    /* line 1071, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__follow {
      font-size: 0.8em; }
    /* line 1074, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__logo {
      font-size: 2em; }
    /* line 1077, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .footer__copyright {
      margin-top: 10px;
      width: 100%;
      font-size: 0.7em; } }

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE (orientation paysage)------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 768px) and (orientation: landscape) {
  /* line 1088, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  h2 {
    font-size: 2em !important; }
  /* line 1091, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu {
    position: static; }
  /* line 1094, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .description__text {
    padding: 0; }
  /* line 1097, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .equipements {
    padding: 40px 50px; }
    /* line 1099, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .equipements__box {
      padding: 40px; }
  /* line 1103, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .events {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
    /* line 1107, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .events__text {
      padding: 40px; }
  /* line 1112, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__title {
    margin-bottom: 0; }
  /* line 1115, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito__text2 {
    padding-bottom: 0;
    padding-top: 0; }
  /* line 1120, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .info__plan {
    margin: 0 0 40px 10% !important; }
  /* line 1123, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .contact {
    padding: 40px 50px; }
    /* line 1125, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__box {
      padding: 40px; }
    /* line 1128, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .contact__request {
      margin: auto;
      width: 90%; }
  /* line 1133, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .news {
    top: 2% !important;
    max-width: 90%;
    left: 5% !important; }
    /* line 1137, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__title {
      font-size: 0.8em; }
    /* line 1140, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__header {
      padding-bottom: 0 !important; }
      /* line 1142, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .news__header h5 {
        font-size: 0.9em;
        margin-bottom: 10px !important; }
      /* line 1146, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
      .news__header p {
        font-size: 0.7em; }
    /* line 1150, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__footer {
      font-size: 0.8em;
      padding: 6px !important; }
    /* line 1154, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .news__btn {
      margin-bottom: 0 !important; } }

/* MEDIA QUERIES POUR REGLER BUGS SUR TABLETTE------------------------------*/
@media (min-width: 990px) and (max-width: 1089px) {
  /* line 1164, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu__item {
    font-size: 0.8em !important; }
  /* line 1168, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .edito {
    padding: 40px 100px;
    margin-bottom: 40px; }
    /* line 1171, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__box {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start; }
    /* line 1177, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__title::after {
      width: 45%; }
    /* line 1181, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__text1, .edito__text2 {
      font-size: 0.9em; }
    /* line 1184, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__text1 {
      padding: 40px 0px 40px 0px; }
    /* line 1187, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__text2 {
      padding: 40px 0px 40px 0px; }
    /* line 1190, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
    .edito__photo {
      align-self: center; } }

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN GRAND ECRAN------------------------------*/
@media screen and (min-width: 1366px) {
  /* line 1201, /Users/Bargeme/Desktop/Studio.34/SiteWeb/scss/styles.scss */
  .menu h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3.5em; } }

/*# sourceMappingURL=styles.css.map */